<footer>
    <div class="row">
        <div class="col-12 col-lg-6">
            <p>Do you have any question? don`t hesitate to discuss with me.</p>
            <p style="margin-bottom: 6px;">WhatsApp : 6281316149820</p>
            <p>Email : abdulkodirwijayakusumah@gmail.com</p>
        </div>
        <div class="col-12 col-lg-6">
            <p>Disclaimer :</p>
            <p style="margin-bottom: 6px;">All data in this web just a dummy.</p>
            <p>Original doc API :&nbsp;<a href="https://api-docs.ninjavan.co" target="_blank">https://api-docs.ninjavan.co</a></p>
        </div>
    </div>
</footer>